In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
csv_wiki = requests.get("https://en.wikipedia.org/wiki/Comma-separated_values")
soup = BeautifulSoup(csv_wiki.text, 'html.parser')

In [6]:
ths = soup.find(id="Example")
table = ths.findNext('pre').text
table

'Year,Make,Model,Description,Price\n1997,Ford,E350,"ac, abs, moon",3000.00\n1999,Chevy,"Venture ""Extended Edition""","",4900.00\n1999,Chevy,"Venture ""Extended Edition, Very Large""","",5000.00\n1996,Jeep,Grand Cherokee,"MUST SELL!\nair, moon roof, loaded",4799.00\n'

In [7]:
f = open('car.csv', 'w')
f.write(table)
f.close()

In [8]:
import pandas as pd 
pd.read_csv('car.csv')

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!\nair, moon roof, loaded",4799.0

In [32]:
# Use Pandas read_html to extract all html tables in website
import pandas as pd
dfs  = pd.read_html(url)
for df in dfs:
    print("=====", df)

=====     0                                                  1
0 NaN  This article has multiple issues. Please help ...
1 NaN  This article's lead section may be too short t...
2 NaN  This article is written like a personal reflec...
3 NaN  This article needs additional citations for ve...
=====     0                                                  1
0 NaN  This article's lead section may be too short t...
=====     0                                                  1
0 NaN  This article is written like a personal reflec...
=====     0                                                  1
0 NaN  This article needs additional citations for ve...
=====                                                    0  \
0                                                NaN
1  A simple CSV file listing three people and the...
2                                 Filename extension
3                                Internet media type
4                                     Type of format
5                                      Container for
6                                           Standard

                                                   1
0                                                NaN
1  A simple CSV file listing three people and the...
2                                               .csv
3                                        text/csv[1]
4                multi-platform, serial data streams
5  database information organized as field separa...
6                                           RFC 4180
=====    Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                         Description   Price
0                      ac, abs, moon  3000.0
1                                NaN  4900.0
2                                NaN  5000.0
3  MUST SELL! air, moon roof, loaded  4799.0
=====   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteData exchange formats  \
0                             Human readable formats
1                                     Binary formats
2           Comparison of data-serialization formats

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteData exchange formats.1
0  Atom CSV EDIFACT JSON Web Encryption Web Token...
1  AMF ASN.1 SMI Avro Base32 Base64 BSON UBJSON C...
2           Comparison of data-serialization formats

In [42]:
df = dfs[5] # this is the table we want
df

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.0

In [34]:
# Write to csv file
df.to_csv('car_table_pandas.csv', index=False)